<app-nav-bar></app-nav-bar>

<div class="container" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
  <mat-card class="profileCard" fxLayoutAlign="center" fxLayout.xs="column">
    <mat-card-title>Pastor: Rev. Mitchell Young</mat-card-title>
    <img mat-card-img
      src="https://scontent.ftpa1-1.fna.fbcdn.net/v/t1.0-1/c0.37.200.200a/1798724_10202207271517849_1576728192_n.jpg?_nc_cat=109&_nc_oc=AQlo6v0RasBU3i6rzqTqQ23WyDYIXr3aqDaSkbqitWVLFln72aQn5n9ua_Lr5uolhnZkve39-MQjFoE6pmKYnMBj&_nc_ht=scontent.ftpa1-1.fna&oh=f558aff07c9551a266a3b177df300837&oe=5D7BF64C"
      alt="Image of Mitchell Young">
  </mat-card>
  <mat-card class="profileCard" fxLayoutWrap fxLayoutAlign="center" fxLayout.xs="column">
    <mat-card-title>Youth Ministries Director: Lori Katayama</mat-card-title>
    <img mat-card-img
      src="https://scontent.ftpa1-1.fna.fbcdn.net/v/t1.0-1/c0.37.200.200a/1798724_10202207271517849_1576728192_n.jpg?_nc_cat=109&_nc_oc=AQlo6v0RasBU3i6rzqTqQ23WyDYIXr3aqDaSkbqitWVLFln72aQn5n9ua_Lr5uolhnZkve39-MQjFoE6pmKYnMBj&_nc_ht=scontent.ftpa1-1.fna&oh=f558aff07c9551a266a3b177df300837&oe=5D7BF64C"
      alt="Image of Mitchell Young">
  </mat-card>
  <mat-card class="profileCard" fxLayoutAlign="center" fxLayout.xs="column">
    <mat-card-title>Youth Ministries Director: Lori Katayama</mat-card-title>
    <img mat-card-img
      src="https://scontent.ftpa1-1.fna.fbcdn.net/v/t1.0-1/c0.37.200.200a/1798724_10202207271517849_1576728192_n.jpg?_nc_cat=109&_nc_oc=AQlo6v0RasBU3i6rzqTqQ23WyDYIXr3aqDaSkbqitWVLFln72aQn5n9ua_Lr5uolhnZkve39-MQjFoE6pmKYnMBj&_nc_ht=scontent.ftpa1-1.fna&oh=f558aff07c9551a266a3b177df300837&oe=5D7BF64C"
      alt="Image of Mitchell Young">
  </mat-card>
</div>
