<app-nav-bar></app-nav-bar>

<div class="container" fxLayoutAlign="center">
  <mat-card class="profileCard" >
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title fxLayoutAlign="center">Pastor</mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center"><strong>Rev. Mitchell Young</strong></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-img src="http://montebel.dot5hosting.com/images/Mitchell.jpg" alt="Image of Mitchell Young">
  </mat-card>
</div>
<div class="container" fxLayoutAlign="center">
  <mat-card class="profileCard" fxLayout.xs="column">
    <mat-card-header  fxLayoutAlign="center">
      <mat-card-title fxLayoutAlign="center">Youth Ministries Director & Administrative Assistant</mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center"><strong>Lori Katayama </strong></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-img src="http://montebel.dot5hosting.com/images/Lori.jpg" alt="Image of Lori Katayama">
  </mat-card>
</div>
<div class="container" fxLayoutAlign="center">
    <mat-card class="profileCard" fxLayout.xs="column">
      <mat-card-header  fxLayoutAlign="center">
        <mat-card-title fxLayoutAlign="center">Music Director</mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center"><strong>Eileen Mitsueda</strong></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-img src="http://montebel.dot5hosting.com/images/Eileen.jpg" alt="Image of Eileen Mitsueda">
    </mat-card>
  </div>
