
.navbar {
  background-color: red;
}

.navbarContent {
  display: flexbox;
  flex-direction: row;
}

.text {
  color: white;
}

#churchLogo {
  height: 100px;
  width: auto;
}

.noBackground {
  text-align: center;
}
