
<div class="navbarContent">

  <img id="churchLogo" src="http://montebelloucc.org/images/100YrLogoSmall.jpg"
    alt="Montebello Plymouth Congregational Church logo">
  <mat-toolbar class="navbar text">
    <mat-toolbar-row>
      <h1>Welcome to Montebello Plymouth Congregational Church</h1>
      <button mat-button routerLink="/home" class="homeBtn">Home</button>
      <button mat-button [matMenuTriggerFor]="aboutUsMenu">About Us</button>
      <mat-menu #aboutUsMenu="matMenu" yPosition="below">
        <button mat-menu-item>Our Staff</button>
        <button mat-menu-item>Our Mission</button>
        <button mat-menu-item>Our Logo</button>
        <button mat-menu-item>Our History</button>
        <button mat-menu-item>Photos</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="churchMinistries">Church Ministries</button>
      <mat-menu #churchMinistries="matMenu" yPosition="below">
          <button mat-menu-item>Our Staff</button>
          <button mat-menu-item>Our Mission</button>
          <button mat-menu-item>Our Logo</button>
          <button mat-menu-item>Our History</button>
          <button mat-menu-item>Photos</button>
        </mat-menu>
      <button mat-button>Facilities & Groups</button>
      <button mat-button>Contact Us</button>
    </mat-toolbar-row>
    <mat-toolbar-row class="noBackground">
      Image Carasoul will go here.
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div>
  <mat-drawer-container>
    <mat-drawer #drawer>
      some side nav
    </mat-drawer>
    <mat-drawer-content>
      Testing Drawer
    </mat-drawer-content>
  </mat-drawer-container>
</div>
